<h1>New film</h1>
<div class="row">
  <div class="span6 offset3">
<%= form_for(@film) do |f| %>
    <%= f.label :Title %><br />
    <%= f.text_field :Title %>

    <%= f.label :Genre %>
    <%= f.radio_button :Genre, 'Drama', :checked => true %> Drama
    <%= f.radio_button :Genre, 'Fiction' %> Fiction
    <%= f.radio_button :Genre, 'Comedy' %> Comedy
    <%= f.radio_button :Genre, 'Animation' %> Animation
    <br><br>
    <%= f.label :Duration, 'Duration (mins)' %><br />
    <%= f.text_field :Duration , length: 4 %>
    <%= f.label :Director %><br />
    <%= f.text_field :Director %>
    <br><br>
    <%= f.submit"Create ", class: "btn btn-large btn-primary"  %> 
<% end %>
  </div>
</div>