<h1>New Record</h1>

<div class="row">
  <div class="span6 offset3">
<%= form_for(@course) do |f| %>
    <%= f.label :Name %><br />
    <%= f.text_field :Name%>

    <%= f.label :Type %><br />
    <%= f.radio_button :Type, 'Science', :checked => true %> Science
    <%= f.radio_button :Type, 'Engineering' %> Engineering
    <%= f.radio_button :Type, 'Business' %> Business
    <br><br>
    <%= f.label :Leader, 'Leader' %><br />
    <%= f.text_field :Leader %>
    <%= f.label :Capacity %><br />
    <%= f.text_field :Capacity %>
    <br><br>
    <%= f.submit"Create ", class: "btn btn-large btn-primary"  %> 
<% end %>
  </div>
</div>